<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Status</th>
        <th scope="col">Cr.Date</th>
        <th scope="col"></th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td> <img src="../assets/img_avatar2.png" alt="Avatar" class="avatar">
          {{ user.name }}</td>
        <td>{{ user.email}}</td>
        <td>{{ user.role}}</td>
        <td>{{ user.status}}</td>
        <td>{{ user.crdate}}</td>
        <td><button class="btn"><i class="fa fa-trash" ></i></button>
          <button class="btn"><i class="fa fa-edit"></i></button>
        </td>
      </tr>

    </tbody>
  </table>