<img src="../../assets/2.jpg">
<div class="bg-text">
    <h2>Developed By : </h2>
    <h1 style="font-size:50px">Raghad AbuSharar</h1>
    <p> i made 5 components (Home , Users , About , Add Users , edit Users)
        i used srevices to declear function that i want to reach to firebase through 
        but at my fina; work whrn i was editing the last things an error accures in the fetch function i don't know why 
        i google it but i couldn't know why ! but i'll keep searching for sure !
    </p>
</div>