<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Edit Users Details</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
       <div class="btn-group">
          <button class="btn btn-sm btn-outline-secondary" (click)="goBack()">Go Back</button>
       </div>
    </div>
 </div>
 
 
 <div class="row">
    <div class="col-lg-12">
       <div class="pricing-header form-block mx-auto">
 
          <form [formGroup]="editForm" (ngSubmit)="updateForm()" novalidate>
             <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12">
                   <div class="row">
                      <div class="col-md-12 mb-3">
                         <label>Name</label>
                         <input type="text" formControlName="name" class="form-control" required>
                      </div>
                   </div>
                   <div class="row">
                      <div class="col-md-12 mb-3">
                         <label>Email</label>
                         <input type="email" formControlName="email" class="form-control" required>
                      </div>
                      <div class="col-md-12 mb-3">
                         <label>Role</label>
                         <input type="text" formControlName="role" class="form-control" required>
                      </div>
                      <div class="col-md-12 mb-3">
                        <label>Status</label>
                        <input type="text" formControlName="status" class="form-control" required>
                     </div>
                   </div>
                   <div class="avatar-area"><img [src]="imageUrl"></div>
                    <br>
                    <label class="file">
                        Chooce image: <br>
                        <input type="file" formControlName="avatar" required (change)="selectFile($event)">
                    </label>
                   <div class="form-group text-right">
                      <button type="submit" class="btn btn-success btn-block"(click)="updateForm()" >
                          Update User
                      </button>
                   </div>
                </div>
             </div>
          </form>          
       </div>
    </div>
 </div>