<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h1>Welcome ..</h1>
<h2> You can Search fo a user or Add a new user!</h2>
<br>

<div class="form">
    <div class="left">
        <div class="border-area" (click)="Open()" >
            <img src="../../assets/plus.png"  >
            <h3> New User</h3>
        </div>
    </div>

    <div class="right">
        <div class="border-area">
            <div class="search">
                <input id="autocomplete" list="user of users" placeholder="Search" type="search" />
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
            <datalist id="users.name">
            </datalist>
        </div>
    </div>
</div>

